<!-- 
Binding d'événement
-->
<form action="test.php" (submit)="submitForm()" >
    <!-- 
    Utilisation du ngModel : data binding aller/retour
  -->
  <label for="todoTitle">Titre <span *ngIf="errorMsg.title.active" >{{ errorMsg.title.msg }}</span> </label>
  <input type="text" name="todoTitle" 
    [(ngModel)]="formObject.todoTitle" 
    (focus)="errorMsg.title.active = false"
  >

  <label for="todoContent">Contenu <span *ngIf="errorMsg.content.active" >{{ errorMsg.content.msg }}</span></label>
  <textarea 
    name="todoContent" 
    [(ngModel)]="formObject.todoContent"
    (focus)="errorMsg.content.active = false"
  ></textarea>

  <label for="todoType">Type <span *ngIf="errorMsg.type.active" >{{ errorMsg.type.msg }}</span></label>
  <select name="todoType" 
    [(ngModel)]="formObject.todoType" 
    (focus)="errorMsg.type.active = false"
  >
    <option value="NULL">- Sélectionner -</option>
    <option value="WORK">Travail</option>
    <option value="FUN">Loisir</option>
  </select>

  <button type="submit">Ajouter</button>
</form>