<!-- 
Binding d'événement
-->
<button id="addTask" (click)=" addNewTask = !addNewTask "><span *ngIf="!addNewTask"><i class="fas fa-plus-circle"></i> Ajouter</span><span *ngIf="addNewTask"><i class="fas fa-times-circle"></i> Annuler</span></button>
<form action="test.php" (submit)="submitForm()" [ngClass]="{open: addNewTask}">
    <!-- 
    Utilisation du ngModel : data binding aller/retour
  -->
  <fieldset>
    <label for="todoTitle">Titre<b>*</b> <span *ngIf="errorMsg.title.active" >{{ errorMsg.title.msg }}</span> </label>
    <input type="text" name="todoTitle" 
      [(ngModel)]="formObject.title" 
      (focus)="errorMsg.title.active = false"
    >
  </fieldset>

  <fieldset>
    <label for="todoContent">Description</label>
    <textarea 
      name="todoContent" 
      [(ngModel)]="formObject.content"
    ></textarea>
  </fieldset>

  <fieldset>
    <label for="todoType">Type<b>*</b> <span *ngIf="errorMsg.type.active" >{{ errorMsg.type.msg }}</span></label>
    <select name="todoType" 
      [(ngModel)]="formObject.type" 
      (focus)="errorMsg.type.active = false"
    >
      <option value="NULL">- Sélectionner -</option>
      <option value="WORK"><i class="fas fa-plus-circle"></i> Travail</option>
      <option value="FUN">Loisir</option>
    </select>
  </fieldset>

  <button type="submit">Ajouter</button> 
</form>