<% include partials/header %>

<form method="post" action="/api/add-task">
    <input type="text" name="content">
    <button type="submit">Ajouter</button>
</form>

<section>

    <% for(let item of content){ %>
        <article>
            <p><%= item.content %></p>
            <form action="/api/delete-task/<%= item._id %>" method="post"><button type="submit">Supprimer</button></form>
        </article>
    <% } %>

</section>

<% include partials/footer %>