<!-- 
  Intéger un partial/composant 
  Binding d'un événement perso
-->
<app-todo-form 
(sendData)="addNewTask($event)"
[formObject]="taskFormObject" 
></app-todo-form>

<!-- 
Avant l'itération, s'assurer que la collection des données est pleine
-->
<section *ngIf="tasksCollection">

  <!-- Itération sur l'article -->
  <article *ngFor="let item of tasksCollection">
    <app-single-task 
      (setTask)="setTask($event)"   
      (deleteTask)="deleteTask($event)"
      [singleItem]="item" 
      
    ></app-single-task>
  </article>

</section>