/*
Reset
*/
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    @import url('//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css');

    *{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5;
    }

    body{
        font-size: 1.5rem;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;

        margin: 0;
    }

    header, main, footer{
        max-width: 60rem;
        margin: auto;
    }

    a{
        color: #5dc2af;
    }

    ul{
        list-style: none;
    }

    *:focus{
        border-color: #5dc2af !important;
    }

    input{
        font-size: 3.5rem;
        font-weight: 100;
        margin: 0;
    }

    button{
        color: #5dc2af;
        border: .1rem solid #5dc2af;
        background: transparent;
        margin: 0;

        -webkit-transition: all .3s;
        transition: all .3s;
    }

    button:hover, button:focus, button.active{
        color: white;
        background: #5dc2af;
        border-color: #5dc2af;
    }

    button.deleteTask{
        color: #97344c;
        border-color: #97344c;
    }

    button.deleteTask:hover, button.deleteTask:focus{
        color: white;
        background: #97344c;
    }    
/**/


/* 
Hauteur des blocks
*/
    header{
    }

    main{
        min-height: 50rem;
    }

    footer{
        min-height: 10.5rem;
    }
/**/


/* 
Tasklist
*/
    #taskList {
        padding: 3rem 0;
        overflow: hidden;
    
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    #taskList.close{
        height: 0vh;
        padding: 0 3rem;
    }

    #taskList article, #taskList article ul, form, #taskListFooter, #taskListFooter ul{
        display: -ms-flex;
        display: -moz-flex;
        display: flex;

        -moz-align-items: center;
        -webkit-align-items: center;
        align-items: center;
    }

    #taskList article {
        height: 0rem;
        overflow: hidden;

        -webkit-transition: all .3s;
        transition: all .3s;
    }

    #taskList article.open{
        height: 6.5rem;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: .1rem solid rgba(91, 195, 176, .2);
    }

    #taskList article.open.taskDeleted {
        height: 0;
        padding: 0;
        border: none;
        margin: 0;
    }

    #taskList article p{
        font-size: 3rem;
        width: 80%;
        margin: 0;
        position: relative;
    }

    #taskList article p::before {
        content: '';
        display: block;
        height: 1.1rem;
        width: 0%;
        background-color: #eee;

        position: absolute;
        left: 0;
        top: 46%;
        opacity: .7;

        -webkit-transition: all .3s;
        transition: all .3s;
    }

    #taskList article.taskDone p::before{
        width: 100%;
    }

    #taskList article ul{
        width: 20%;
        margin: 0;

        -moz-justify-content: flex-end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }

    #taskList article li{
        margin: 0;
        margin-left: .5rem;
    }

    #taskList button {
        margin: 0;
        padding: .5rem 1.5rem;
        line-height: 1;
    }
/**/

/* 
Task list footer
*/
    #taskListFooter {
        padding: 0;
        margin-bottom: 5rem;

        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
    }

    #taskListFooter p, #taskListFooter ul, #taskListFooter li {
        margin: 0;
    }

    #taskListFooter button {
        padding: 1rem;
        height: auto;
        line-height: 0;
        margin-left: .5rem;
    }

    #taskTodo b {
        color: #5dc2af;
    }

    #taskDone b {
        color: #97344c;
    }

    #taskListFooter span{
        margin-right: 1rem;
    }
/**/

/* 
Formulaire
*/
    #addTask {
        padding: 2rem;
        background: rgba(91, 195, 176, .1);
        margin-top: 2rem;
    }

    #addTask form {
        margin-bottom: 0;
    }

    #addTask form input {
        padding: 2.5rem 1rem 3rem 1.5rem;
        font-size: 3rem;
        background-color: white;
        border-color: #59c4b1;
    }
/**/

/* 
Footer
*/
    footer {
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
    }

    footer p {
        margin: 0;
    }
/**/